<div class="container" class="light-text">
  <div class="row">
    <div class="col text-center">
      <h4>Listar Clientes</h4>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12">
      <div class="card light-bg">
        <div class="card-title">
          <div class="row p-3">
            <div class="col-12" style="text-align: right">
              <button class="btn btn-blue btn-large" routerLink="/new-costumer">Cadastrar cliente</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div id="titles" class="d-none d-md-block d-lg-block">
                <div class="row justify-content-center" style="font-weight: bold;">
                  <div class="col-md-1 m-auto text-center">
                    #
                  </div>
                  <div class="col-md-3 m-auto text-center">
                    Nome
                  </div>
                  <div class="col-md-2 m-auto text-center">
                    CPF
                  </div>
                  <div class="col-md-2 m-auto text-center">
                    Data Nasc.
                  </div>
                  <div class="col-md-4 m-auto"></div>
                </div>
              </div>
              
              <div class="row justify-content-center dark-bg rounded mt-4 p-2" *ngFor="let user of costumersList; let i = index">
                <div class="col-md-1 m-auto text-center">
                  {{(i+1) < 10 ? '0'+(i+1) : i+1}}
                </div>
                <div class="col-md-3 m-auto text-center mt-2">
                  {{user.name}}
                </div>
                <div class="col-md-2 m-auto text-center mt-2">
                  {{user.cpf}}
                </div>
                <div class="col-md-2 m-auto text-center mt-2">
                  {{user.birth}}
                </div>
                <div class="col-md-4 m-auto text-center mt-2">
                  <button class="btn btn-blue mx-1" (click)="editUser(i)">
                    <i class="las la-eye"></i>
                  </button>
                  <button class="btn btn-danger mx-1" (click)="removeUser(i)">
                    <i class="las la-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>